In [1]:
import requests
from bs4 import BeautifulSoup  
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
api_keys = pd.read_csv('api_keys.csv')
#api_keys.csv and .ipynb_checkpoints should to in the gitignore

In [ ]:
#pd.DataFrame({'endpoint': 'yelp', 'key' : api_key}, index = [0]).to_csv('api_keys.csv', index = False)

In [3]:
yelp_api = api_keys.loc[api_keys['endpoint'] == 'yelp', 'key'].values[0]

In [4]:
business_endpoint = 'https://api.yelp.com/v3/businesses/search'

In [5]:
header_category = {'Authorization': 'bearer %s' % yelp_api}

In [ ]:
params_offset = 50

In [ ]:
params_category_music = {'location': 'Nashville', 'limit': 50, 'categories': 'musicvenues', 'offset': params_offset}

In [ ]:
response_business_music = requests.get(url = business_endpoint, params = params_category_music, headers = header_category)

In [ ]:
for b in response_business_music.json()['businesses'] :
    print(b['name'])

In [ ]:
def extract_music_info(music):
    categories =  [a['title'] for a in music['categories']]
    ratings = music['rating']
    name = music['name']
    address = music['location']['display_address']
    phone_number = music['phone']
    latitude = music['coordinates']['latitude']
    longitude = music['coordinates']['longitude']
    try:
        price = music['price']
    except:
        price = 'no price'
    zip_code = music['location']['zip_code']
    is_closed = music['is_closed']
    output_dict_music = { 
                   'categories': categories,   
                   'ratings': ratings,
                   'name': name,
                   'display_address': address,
                   'phone': phone_number,
                   'latitude': latitude, 
                   'longitude': longitude, 
                   'price': price, 
                   'zip_code': zip_code,
                   'is_closed': is_closed}

    return output_dict_music

In [ ]:
music_list = []
for increment in range(0, 200, 50) : 
    print(increment)
    params_category_music = {'location': 'Nashville', 'limit': 50, 'categories': 'musicvenues', 'offset': increment}

    response_business_music = requests.get(url = business_endpoint, params = params_category_music, headers = header_category)
    print(len(response_business_music.json()['businesses']))
    for music_data in response_business_music.json()['businesses']:
        music_dict = extract_music_info(music_data)
        music_list.append(music_dict)
        params_offset += 50

In [ ]:
music_venues_nash.shape

In [ ]:
music_venues_nash = pd.DataFrame(music_list)
music_venues_nash#['name'].nunique()

In [ ]:
music_venues_nash.to_csv(r'C:\Users\mia\Desktop\nss\projects\capstone\data\updated_nash_venues.csv', index = False)

## Begin Scraping for Bars

In [8]:
params_offset = 50
#params_category_bars = {'location': 'Nashville', 'limit': 50, 'categories': 'bars', 'offset': params_offset}
#response_business_bars = requests.get(url = business_endpoint, params = params_category_bars, headers = header_category)

In [ ]:
for b in response_business_bars.json()['businesses'] :
    print(b['name'])

In [9]:
def extract_bar_info(bar):
    categories =  [a['title'] for a in bar['categories']]
    ratings = bar['rating']
    name = bar['name']
    address = bar['location']['display_address']
    phone_number = bar['phone']
    latitude = bar['coordinates']['latitude']
    longitude = bar['coordinates']['longitude']
    try:
        price = bar['price']
    except:
        price = 'no price'
    zip_code = bar['location']['zip_code']
    is_closed = bar['is_closed']
    output_dict_bar = { 
                   'categories': categories,   
                   'ratings': ratings,
                   'name': name,
                   'display_address': address,
                   'phone': phone_number,
                   'latitude': latitude, 
                   'longitude': longitude, 
                   'price': price, 
                   'zip_code': zip_code,
                   'is_closed': is_closed}

    return output_dict_bar

In [21]:
bar_list = []
for increment in range(0, 1000, 50) : 
    #print(increment)
    params_category_bars = {'location': 'Nashville', 'limit': 50, 'categories': 'bars', 'offset': increment}

    response_business_bars = requests.get(url = business_endpoint, params = params_category_bars, headers = header_category)
    print(response_business_bars)
    for bar in response_business_bars.json()['businesses']:
        bar_dict = extract_bar_info(bar)
        bar_list.append(bar_dict)
        params_offset += 50
        
    #['businesses'] is causing an error

<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>
<Response [200]>

In [22]:
bars_nash = pd.DataFrame(bar_list)
bars_nash#['name'].nunique()

,categories,ratings,name,display_address,phone,latitude,longitude,price,zip_code,is_closed
0,"[American (New), Bars]",4.5,The Stillery,"[113 2nd Ave N, Nashville, TN 37201]",+16159428080,36.162250,-86.775700,$$,37201,False
1,"[Italian, Pizza, Bars]",4.5,Five Points Pizza,"[1012 Woodland St, Nashville, TN 37206]",+16159154174,36.177100,-86.750470,$$,37206,False
2,"[Bars, American (Traditional)]",4.0,The Pharmacy,"[731 McFerrin Ave, Nashville, TN 37206]",+16157129517,36.185009,-86.754127,$$,37206,False
3,"[Mexican, Bars]",4.5,Bartaco,"[2526 12th Ave S, Nashville, TN 37204]",+16152698226,36.123742,-86.789594,$$,37204,False
4,"[Tacos, Bars]",4.5,Bakersfield,"[201 3rd Ave S, Nashville, TN 37201]",+16155220970,36.159296,-86.774733,$$,37201,False
...,...,...,...,...,...,...,...,...,...,...
439,"[Hookah Bars, Lounges]",1.0,Lavo Lounge,"[1310 Antioch Pike, Ste K, Nashville, TN 37211]",+16157077286,36.085610,-86.689900,no price,37211,False
440,"[Bars, Dance Clubs]",3.0,Music City Gents Male Revue,"[312 Broadway St, Nashville, TN 37201]",+16153352455,36.161480,-86.776792,no price,37201,False
441,[Sports Bars],1.0,Lakeside Lounge,"[921 Woodland St, Nashville, TN 37206]",+18335253733,36.175890,-86.755385,no price,37206,False
442,"[Hookah Bars, American (Traditional)]",1.0,Sultan's Cafe,"[1602 21st Ave S, Nashville, TN 37212]",+16153218980,36.138207,-86.800519,$$,37212,False
443,[Bars],2.0,Ringside Pub,"[2900 Hillhurst Dr, Nashville, TN 37207]",+16152274223,36.226200,-86.760730,no price,37207,False

In [23]:
bars_nash.to_csv(r'C:\Users\mia\Desktop\nss\projects\capstone\data\bars_nash.csv', index = False)